<!--
<html><head>
     Gabriel Sessions' PyREPL Connection 
    <script defer="defer" src="https://cdn.jsdelivr.net/gh/gabrielsessions/pyrepl-js/build/main.js"></script>


    <script defer="defer" src="https://cdn.jsdelivr.net/gh/gabrielsessions/pyrepl-js/build/main.js"></script>
    <script type="module" src="https://firebasestorage.googleapis.com/v0/b/pyrepl.appspot.com/o/student-pyrepl-sites%2F1FEk0oSq2EhQ8IfvtPOtr1R4qxY2%2FAvianAnarchy%2Fconnection.js?alt=media&amp;token=c6158981-a4a2-444a-b6c0-ddee8bf5567d"></script> 
    <script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/pyrepl.appspot.com/o/student-pyrepl-sites%2F7CLNNm5HlFcixBFl953wlz57auI3%2FEN1FinalProject%2Flocal.js?alt=media&amp;token=4abfcd13-d85c-4cbb-ab55-e5456feb037f"></script> 
    <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/pyrepl.appspot.com/o/student-pyrepl-sites%2F1FEk0oSq2EhQ8IfvtPOtr1R4qxY2%2FAvianAnarchy%2Fstyle.css?alt=media&amp;token=c9ef412f-3b1c-426e-b8fc-f7bae058d4d6"> 
<style data-emotion="css" data-s=""></style><style data-emotion="css" data-s=""></style></head>
<body>

    <h1><em>Template:</em> Avian Anarchy</h1>

    <h2>Local Interface</h2>
 
    <p><b>Description:</b> hardware connection to SPIKE Prime: connect a turntable to Port A and shooter to Port B</p>

    <div id="root"><div><div id="service_spike" class=""><button class="MuiButtonBase-root MuiFab-root MuiFab-circular MuiFab-sizeLarge Mui-error css-1gshm0r" tabindex="0" type="button" aria-label="connect"><svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeLarge css-6flbmm" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CableIcon"><path d="M20 5V4c0-.55-.45-1-1-1h-2c-.55 0-1 .45-1 1v1h-1v4c0 .55.45 1 1 1h1v7c0 1.1-.9 2-2 2s-2-.9-2-2V7c0-2.21-1.79-4-4-4S5 4.79 5 7v7H4c-.55 0-1 .45-1 1v4h1v1c0 .55.45 1 1 1h2c.55 0 1-.45 1-1v-1h1v-4c0-.55-.45-1-1-1H7V7c0-1.1.9-2 2-2s2 .9 2 2v10c0 2.21 1.79 4 4 4s4-1.79 4-4v-7h1c.55 0 1-.45 1-1V5h-1z"></path></svg><span class="MuiTouchRipple-root css-w0pj6f"></span></button><div style="text-align: left;"><div></div></div></div></div></div>

    <p><button onclick='db_update("name", "");'>CLEAR</button></p> 
    
    <p><button onclick="reset_relative()">RESET RELATIVE</button></p>
 
    <hr>

    <p>Database Data:</p><p>

    </p><pre id="db_dump">{"name":"value","shoot_command":"pause","shoot_power":500,"shoot_angle":0}</pre>



</body></html>
-->